<tr class="nested_fields">
  <td>
    <%= link_to_remove_association "remove food", form, class: 'btn btn-primary btn-xs' %>
  </td>
  <td><%= form.input :description, label: false %>  </td>
  <td><%= form.input :done, label: false %></td>
</tr>